/* Resetting margin, padding, border, and outline for all elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

/* Main container for the todo app */
#todoApp {
  min-width: 400px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Styling for all images */
img {
  height: 15px;
  width: 15px;
}

/* Styling for the todo form */
#todoForm {
  width: 100%;
  display: flex;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px 15px;
  align-items: center;
  /* Specific styling for the first image inside the form */
  /* Styling for the input field */
  /* Styling for the "Add Task" button */
}
#todoForm #img1 {
  width: 20px;
  height: 20px;
}
#todoForm input {
  width: 95%;
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  color: gray;
}
#todoForm #addTask {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 25px;
  width: 27px;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 1px 1px 10px 1px white;
  transition: all 0.2s;
  /* Hover effect for the "Add Task" button */
}
#todoForm #addTask:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.2);
}

/* Styling for the feature sections */
#feature1,
#feature2 {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: gray;
}

/* Styling for the first feature section */
#feature1 {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 7px 0;
  margin-bottom: 20px;
  align-items: center;
  /* Specific styling for the double tick image */
}
#feature1 #img3 {
  height: 7px;
  width: 7px;
}

/* Styling for the second feature section */
#feature2 {
  border-top: 1px solid rgb(182, 182, 182);
  padding: 7px 0;
  padding-left: 10px;
  margin-top: 20px;
  align-items: center;
  /* Specific styling for the right part of the feature */
}
#feature2 #right {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  /* Styling for the span inside the right part */
}
#feature2 #right .active {
  background-color: rgb(217, 217, 217);
  color: black;
}
#feature2 #right span {
  display: inline-flex;
  padding: 3px, 60px;
}

/* General button styling */
.btn {
  border-radius: 10px;
  padding: 5px 10px;
}
.btn:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

/* Styling for the task list */
#taskList {
  list-style-type: none;
  /* General styling for list items */
}
#taskList li.checked {
  text-decoration: line-through;
  background-color: rgb(198, 252, 198);
  /* Hover effect for completed tasks */
}
#taskList li.checked:hover {
  background-color: rgb(155, 255, 155);
}
#taskList li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  padding-right: 5px;
  border-radius: 20px;
}
#taskList li:hover {
  background-color: rgb(230, 230, 230);
}
#taskList li .task-delete,
#taskList li .task-checkbox {
  padding: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
#taskList li .task-delete:hover,
#taskList li .task-checkbox:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#taskList li .task-checkbox {
  margin-right: 5px;
}
#taskList li .task-delete {
  margin-left: auto;
}
#taskList li span {
  display: inline-flex;
  word-wrap: break-word;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */